server:
  port: 9000
  servlet:
    session:
      timeout: 30m
      cookie:
        name: JSESSIONID
        path: /
        http-only: true
        secure: false

member-service:
  url: http://localhost:9002

spring:
  application:
    name: auth-service
  config:
    import: optional:classpath:application-secret.yml

  data:
    redis:
      host: localhost
      port: 6380

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: auth-group