server:
  port: 8080

spring:
  application:
    name: gateway-service

  config:
    import: optional:classpath:application-secret.yml

  cloud:
    gateway:
      server:
        webflux:
          # 1. CORS 설정
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - "https://comatching.site"
                  - "http://localhost:3000"
                  - "http://localhost:5173"
                  - "http://localhost:5500"
                allowedMethods: [GET, POST, PUT, DELETE, OPTIONS]
                allowedHeaders: "*"
                allowCredentials: true

          # 2. 라우팅 규칙
          routes:
            - id: auth-service-public
              uri: http://localhost:9000
              predicates:
                - Path=/api/auth/login, /api/auth/signup, /api/auth/email/**, /oauth2/**, /login/**, /default-ui.css

            - id: auth-service-protected
              uri: http://localhost:9000
              predicates:
                - Path=/api/auth/signup/profile, /api/auth/logout, /api/auth/reissue, /api/auth/password/**, /api/auth/withdraw
              filters:
                - AuthorizationHeaderFilter

            - id: auth-service-swagger
              uri: http://localhost:9000
              predicates:
                - Path=/auth-doc/**
              filters:
                - RewritePath=/auth-doc/(?<segment>.*), /$\{segment}

            - id: matching-service
              uri: http://localhost:9001
              predicates:
                - Path=/api/matching/**, /api/internal/matching/**
              filters:
                - AuthorizationHeaderFilter

            - id: matching-service-swagger
              uri: http://localhost:9001
              predicates:
                - Path=/matching-doc/**
              filters:
                - RewritePath=/matching-doc/(?<segment>.*), /$\{segment}

            - id: member-service
              uri: http://localhost:9002
              predicates:
                - Path=/api/members/**, /api/internal/members/**
              filters:
                - AuthorizationHeaderFilter

            - id: member-service-swagger
              uri: http://localhost:9002
              predicates:
                - Path=/member-doc/**
              filters:
                - RewritePath=/member-doc/(?<segment>.*), /$\{segment}

            - id: chat-service
              uri: http://localhost:9003
              predicates:
                - Path=/api/chat/**, /api/internal/chat/**, /ws/**
              filters:
                - AuthorizationHeaderFilter

            - id: chat-service-swagger
              uri: http://localhost:9003
              predicates:
                - Path=/chat-doc/**
              filters:
                - RewritePath=/chat-doc/(?<segment>.*), /$\{segment}

            - id: payment-service
              uri: http://localhost:9004
              predicates:
                - Path=/api/payment/**
              filters:
                - AuthorizationHeaderFilter

            - id: payment-service-swagger
              uri: http://localhost:9004
              predicates:
                - Path=/payment-doc/**
              filters:
                - RewritePath=/payment-doc/(?<segment>.*), /$\{segment}

            - id: item-service
              uri: http://localhost:9006
              predicates:
                - Path=/api/items/**, /api/internal/items/**
              filters:
                - AuthorizationHeaderFilter

            - id: notification-service
              uri: http://localhost:9005
              predicates:
                - Path=/api/fcm/**
              filters:
                - AuthorizationHeaderFilter
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST

logging:
  level:
    org.springframework.cloud.gateway: INFO